<!doctype html>
<html class="no-js" lang="">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> MANAGMENT SYSTEM</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- dataTables - css -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <!--datepicke css  -->
    <link rel="stylesheet" href="css/datepicker.min.css">
    <!--select2 css  -->
    <link rel="stylesheet" href="css/select2.min.css">



      <!-- Flaticon CSS -->
    <link rel="stylesheet" href="fonts/flaticon.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernize js -->
    <script src="js/modernizr-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>



<style type="text/css">
   

 .card h5
 {
      margin-top: 0.8rem;
    margin-bottom: 0.4rem;
 }   
.card h5 a
{
  
    color: #1c1d1f;
     font-weight: inherit;
     font-size: 17px;
     font-weight: bold;
}
.card .sirname a
{
     font-weight: inherit;
    margin-bottom: 0.4rem;
     font-weight: bold;
    font-size: 13px; 
    color: #333;
}
.card .rating
{
     font-weight: bold;
    font-size: 18px;
    color: #c5690e;
}
.card .price
{
     color: #1c1d1f;
     font-weight: inherit;
     font-size: 18px;
     font-weight: bold;
}
.card .price label
{
    margin-left: 10px;
    font-size: 15px;
    color: #6a6f73;
    text-decoration: line-through;
}
.card .rating label
{
    font-size: 13px;
    color: #6a6f73;

}

.swiper-button-next,
.swiper-button-prev{
    height:4rem;
    width:4rem;
    color:#ffff;
    border-radius: 50%;
    background: #000;
    border:none;
    overflow: hidden;
    font-weight: bold;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: #fff;
    color:#000;
}
.btn-prc button
{
    font-size: 15px;
}
</style>


<body>
     <!-- Preloader Start Here -->
  <div id="preloader"></div>




<!-- Preloader End Here -->
<div id="wrapper" class="wrapper bg-ash">
   <!-- Header Menu Area Start Here -->
   <div class="navbar navbar-expand-md header-menu-one bg-light">
    <div class="nav-bar-header-one">
        <div class="header-logo text-center">
            <a href="index.html">
                <img src="img/pxl.png" alt="logo">
            </a>
        </div>
         <div class="toggle-button sidebar-toggle">
            <button type="button" class="item-link">
                <span class="btn-icon-wrap">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
        </div>
    </div>
    <div class="d-md-none mobile-nav-bar">
       <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
            <i class="far fa-arrow-alt-circle-down"></i>
        </button>
        <button type="button" class="navbar-toggler sidebar-toggle-mobile">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
        <ul class="navbar-nav">
            <li class="navbar-item header-search-bar">
                <div class="input-group stylish-input-group">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="flaticon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Find Something . . .">
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="navbar-item dropdown header-admin">
                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    <div class="admin-title">
                        <h5 class="item-title">Stevne Zone</h5>
                        <span>Admin</span>
                    </div>
                    <div class="admin-img">
                        <img src="img/figure/admin.jpg" alt="Admin">
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="item-header">
                        <h6 class="item-title">Steven Zone</h6>
                    </div>
                    <div class="item-content">
                        <ul class="settings-list">
                            <li><a href="#"><i class="flaticon-user"></i>My Profile</a></li>
                            <li><a href="#"><i class="flaticon-list"></i>Task</a></li>
                            <li><a href="#"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a></li>
                            <li><a href="#"><i class="flaticon-gear-loading"></i>Account Settings</a></li>
                            <li><a href="login.html"><i class="flaticon-turn-off"></i>Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </li>
           <!--  <li class="navbar-item dropdown header-message">
                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    <i class="far fa-envelope"></i>
                    <div class="item-title d-md-none text-16 mg-l-10">Message</div>
                    <span>5</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="item-header">
                        <h6 class="item-title">05 Message</h6>
                    </div>
                    <div class="item-content">
                        <div class="media">
                            <div class="item-img bg-skyblue author-online">
                                <img src="img/figure/student11.png" alt="img">
                            </div>
                            <div class="media-body space-sm">
                                <div class="item-title">
                                    <a href="#">
                                        <span class="item-name">Maria Zaman</span> 
                                        <span class="item-time">18:30</span> 
                                    </a>  
                                </div>
                                <p>What is the reason of buy this item. 
                                Is it usefull for me.....</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img bg-yellow author-online">
                                <img src="img/figure/student12.png" alt="img">
                            </div>
                            <div class="media-body space-sm">
                                <div class="item-title">
                                    <a href="#">
                                        <span class="item-name">Benny Roy</span> 
                                        <span class="item-time">10:35</span> 
                                    </a>  
                                </div>
                                <p>What is the reason of buy this item. 
                                Is it usefull for me.....</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img bg-pink">
                                <img src="img/figure/student13.png" alt="img">
                            </div>
                            <div class="media-body space-sm">
                                <div class="item-title">
                                    <a href="#">
                                        <span class="item-name">Steven</span> 
                                        <span class="item-time">02:35</span> 
                                    </a>  
                                </div>
                                <p>What is the reason of buy this item. 
                                Is it usefull for me.....</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-img bg-violet-blue">
                                <img src="img/figure/student11.png" alt="img">
                            </div>
                            <div class="media-body space-sm">
                                <div class="item-title">
                                    <a href="#">
                                        <span class="item-name">Joshep Joe</span> 
                                        <span class="item-time">12:35</span> 
                                    </a>  
                                </div>
                                <p>What is the reason of buy this item. 
                                Is it usefull for me.....</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->
            <!-- <li class="navbar-item dropdown header-notification">
                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    <i class="far fa-bell"></i>
                    <div class="item-title d-md-none text-16 mg-l-10">Notification</div>
                    <span>8</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="item-header">
                        <h6 class="item-title">03 Notifiacations</h6>
                    </div>
                    <div class="item-content">
                        <div class="media">
                            <div class="item-icon bg-skyblue">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="media-body space-sm">
                                <div class="post-title">Complete Today Task</div>
                                <span>1 Mins ago</span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-orange">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                            <div class="media-body space-sm">
                                <div class="post-title">Director Metting</div>
                                <span>20 Mins ago</span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="item-icon bg-violet-blue">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <div class="media-body space-sm">
                                <div class="post-title">Update Password</div>
                                <span>45 Mins ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
</div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <!-- Sidebar Area Start Here -->
        <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
            <div class="mobile-sidebar-header d-md-none">
                 <!-- <div class="header-logo">
                     <a href="index.html"><img src="img/logo1.png" alt="logo"></a>
                 </div> -->
            </div>
            <div class="sidebar-menu-content">
                <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                    <li class="nav-item sidebar-nav-item">
                        <a href="#" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                        <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="home.html" class="nav-link"><i class="fas fa-angle-right"></i>Admin</a>
                            </li>
                            <li class="nav-item">
                                <a href="student_dashbord.html" class="nav-link"><i
                                class="fas fa-angle-right"></i>Students</a>
                            </li>
                          <!--   <li class="nav-item">
                                <a href="parents_dashbord.html" class="nav-link"><i class="fas fa-angle-right"></i>Parents</a>
                            </li> -->
                            <li class="nav-item">
                                <a href="teacher_dashbord.html" class="nav-link"><i
                                class="fas fa-angle-right"></i>Teachers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Students</span></a>
                        <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="all_student.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                    Students</a>
                            </li>
                            <li class="nav-item">
                                <a href="student_detail.html" class="nav-link"><i
                                class="fas fa-angle-right"></i>Student Details</a>
                            </li>
                            <li class="nav-item">
                                <a href="addmission_form.html" class="nav-link"><i
                                        class="fas fa-angle-right"></i>Admission Form</a>
                            </li>
                            <li class="nav-item">
                                <a href="student_promotion.html" class="nav-link"><i
                                        class="fas fa-angle-right"></i>Student Promotion</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a href="#" class="nav-link"><i
                                class="flaticon-multiple-users-silhouette"></i><span>Teachers</span></a>
                        <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="all_teacher.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                    Teachers</a>
                            </li>
                            <li class="nav-item">
                                <a href="teacher_detail.html" class="nav-link"><i
                                        class="fas fa-angle-right"></i>Teacher Details</a>
                            </li>
                            <li class="nav-item">
                                <a href="add_teacher.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                    Teacher</a>
                            </li>
                            <li class="nav-item">
                                <a href="payment.html" class="nav-link"><i
                                        class="fas fa-angle-right"></i>Payment</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a href="#" class="nav-link"><i class="flaticon-couple"></i><span>Parents</span></a>
                        <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="all_parent.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                    Parents</a>
                            </li>
                            <li class="nav-item">
                                <a href="parent_detail.html" class="nav-link"><i
                                        class="fas fa-angle-right"></i>Parents Details</a>
                            </li>
                            <li class="nav-item">
                                <a href="add_parent.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                    Parent</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a href="#" class="nav-link"><i class="flaticon-books"></i><span>Library</span></a>
                        <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="all_book.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                    Book</a>
                            </li>
                            <li class="nav-item">
                                <a href="add_new_book.html" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                    Book</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a href="#" class="nav-link"><i class="flaticon-technological"></i><span>Acconunt</span></a>
                        <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="all_fee_collection.html" class="nav-link"><i class="fas fa-angle-right"></i>All Fees Collection</a>
                            </li>
                            <li class="nav-item">
                                <a href="expenses.html" class="nav-link"><i
                                        class="fas fa-angle-right"></i>Expenses</a>
                            </li>
                            <li class="nav-item">
                                <a href="add_expenses.html" class="nav-link"><i class="fas fa-angle-right"></i>Add
                                    Expenses</a>
                            </li>
                        </ul>
                    </li>
                   <li class="nav-item sidebar-nav-item">
                        <a href="#" class="nav-link"><i
                                class="flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i><span>Class</span></a>
                        <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="all_class.html" class="nav-link"><i class="fas fa-angle-right"></i>All
                                    Classes</a>
                            </li>
                            <li class="nav-item">
                                <a href="add_class.html" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                    Class</a>
                            </li>
                        </ul>
                    </li>
                   <li class="nav-item">
                        <a href="subject.html" class="nav-link"><i
                                class="flaticon-open-book"></i><span>Subject</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="class_routine.html" class="nav-link"><i class="flaticon-calendar"></i><span>Class
                                Routine</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="attandence.html" class="nav-link"><i
                                class="flaticon-checklist"></i><span>Attendence</span></a>
                    </li>
                    <li class="nav-item sidebar-nav-item">
                        <a href="#" class="nav-link"><i class="flaticon-shopping-list"></i><span>Exam</span></a>
                        <ul class="nav sub-group-menu">
                            <li class="nav-item">
                                <a href="exam_schedule.html" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                    Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a href="exam_grades.html" class="nav-link"><i class="fas fa-angle-right"></i>Exam
                                    Grades</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="transport.html" class="nav-link"><i
                                class="flaticon-bus-side-view"></i><span>Transport</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="hostel.html" class="nav-link"><i class="flaticon-bed"></i><span>Hostel</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="noties.html" class="nav-link"><i
                                class="flaticon-script"></i><span>Notice</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="school_main_account.html" class="nav-link"><i
                                class="flaticon-settings"></i><span>Account</span></a>
                    </li>
                </ul>
            </div>
         </div>
        <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Dashboard</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Student</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->



                <div class="row">
                    <div class="col-12-xxxl col-12">
                        <h2 class="font-weight-bold border-bottom">Popular for advancing Web Developers</h2>
                        <div class="swiper featured-slider">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide box">
                                   <div class="card">
                                        <img src="img/jss.jpg">
                                        <h5><a href="#">The Complete JavaScript Course 2023: From Zero to Expert!</a></h5>
                                        <span class="sirname"><a href="#">sir name</a></span>
                                        <span class="rating">4.7 <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <label >(157493)</label></span>
                                        <span class="price">$9.99 <label>$84.99</label></span>
                                        <span class="btn-prc"><button class="btn btn-primary">View Details</button><label class="ml-5"><button class="btn btn-secondary">Add to Cart</button></label></span>
                                    </div>
                                </div>

                                <div class="swiper-slide box">
                                   <div class="card">
                                        <img src="img/jss2.jpg">
                                        <h5><a href="#">The Complete JavaScript Course 2023: From Zero to Expert!</a></h5>
                                        <span class="sirname"><a href="#">sir name</a></span>
                                        <span class="rating">4.7 <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <label >(157493)</label></span>
                                        <span class="price">$9.99 <label>$84.99</label></span>
                                        <span class="btn-prc"><button class="btn btn-primary">View Details</button><label class="ml-5"><button class="btn btn-secondary">Add to Cart</button></label></span>
                                    </div>
                                </div>

                                 <div class="swiper-slide box">
                                   <div class="card">
                                        <img src="img/jss3.jpg">
                                        <h5><a href="#">The Complete JavaScript Course 2023: From Zero to Expert!</a></h5>
                                        <span class="sirname"><a href="#">sir name</a></span>
                                        <span class="rating">4.7 <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <label >(157493)</label></span>
                                        <span class="price">$9.99 <label>$84.99</label></span>
                                        <span class="btn-prc"><button class="btn btn-primary">View Details</button><label class="ml-5"><button class="btn btn-secondary">Add to Cart</button></label></span>

                                    </div>
                                </div>

                            </div>

                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>

                        </div>
                    </div>

                     <div class="col-12-xxxl col-12 ">
                        <h2 class="font-weight-bold border-bottom mt-5 pt-4">Popular for advancing Grapic Desiner</h2>
                        <div class="swiper featured-slider">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide box">
                                   <div class="card">
                                        <img src="img/jss.jpg">
                                        <h5><a href="#">The Complete JavaScript Course 2023: From Zero to Expert!</a></h5>
                                        <span class="sirname"><a href="#">sir name</a></span>
                                        <span class="rating">4.7 <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <label >(157493)</label></span>
                                        <span class="price">$9.99 <label>$84.99</label></span>
                                        <span class="btn-prc"><button class="btn btn-primary">View Details</button><label class="ml-5"><button class="btn btn-secondary">Add to Cart</button></label></span>
                                    </div>
                                </div>

                                <div class="swiper-slide box">
                                   <div class="card">
                                        <img src="img/jss2.jpg">
                                        <h5><a href="#">The Complete JavaScript Course 2023: From Zero to Expert!</a></h5>
                                        <span class="sirname"><a href="#">sir name</a></span>
                                        <span class="rating">4.7 <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <label >(157493)</label></span>
                                        <span class="price">$9.99 <label>$84.99</label></span>
                                        <span class="btn-prc"><button class="btn btn-primary">View Details</button><label class="ml-5"><button class="btn btn-secondary">Add to Cart</button></label></span>
                                    </div>
                                </div>

                                 <div class="swiper-slide box">
                                   <div class="card">
                                        <img src="img/jss3.jpg">
                                        <h5><a href="#">The Complete JavaScript Course 2023: From Zero to Expert!</a></h5>
                                        <span class="sirname"><a href="#">sir name</a></span>
                                        <span class="rating">4.7 <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <i class="uis uis-star"></i> <label >(157493)</label></span>
                                        <span class="price">$9.99 <label>$84.99</label></span>
                                        <span class="btn-prc"><button class="btn btn-primary">View Details</button><label class="ml-5"><button class="btn btn-secondary">Add to Cart</button></label></span>
                                    </div>
                                </div>

                            </div>

                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>

                        </div>
                    </div>
                </div>
                
               
            </div>    
    </div>
    <!-- Page Area End Here -->
</div>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>


<script>
    var swiper = new Swiper(".featured-slider", {
  spaceBetween: 10,
  loop:true,
  centeredSlides: true,
  autoplay: {
    delay: 9500,
    disableOnInteraction: false,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    450: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    1024: {
      slidesPerView: 4,
    },
  },
});
</script>






 <!-- jquery-->
 <script src="js/jquery-3.3.1.min.js"></script>
 <!-- Plugins js -->
 <script src="js/plugins.js"></script>
 <!-- Popper js -->
 <script src="js/popper.min.js"></script>
 <!-- Bootstrap js -->
 <script src="js/bootstrap.min.js"></script>
 <!-- Counterup Js -->
 <script src="js/jquery.counterup.min.js"></script>
 <!-- Moment Js -->
 <script src="js/moment.min.js"></script>
 <!-- Waypoints Js -->
 <script src="js/jquery.waypoints.min.js"></script>
 <!-- Scroll Up Js -->
 <script src="js/jquery.scrollUp.min.js"></script>
 <!-- Full Calender Js -->
 <script src="js/fullcalendar.min.js"></script>
 <!-- Chart Js -->
 <script src="js/Chart.min.js"></script>

 <!--jquery.smoothscroll  -->
 <script src="js/jquery.smoothscroll.min.html"></script>
 <!-- query.dataTables -->
 <script src="js/jquery.dataTables.min.js"></script>
 <!-- /google-marker-map -->
 <script src="js/google-marker-map.js"></script>
 <!-- select2.min -->
 <script src="js/select2.min.js"></script>
 <!--datepicker.min  -->
 <script src="js/datepicker.min.js"></script>

 <!-- Custom Js -->
 <script src="js/main.js"></script>

</body>
</html>